body{
    background-image: linear-gradient(to right, rgb(197, 197, 230), rgb(79, 79, 231));
    font-family: Arial, Helvetica, sans-serif;
}

div{
    text-align: center;
}

h1{
    margin-bottom: 0%;
}

p{
    margin-top: 0%;
}

input{
    border-radius: 5px;
}

.label{
    text-align: left;
    
}


h2{
    font-size: 16px;
}
   
form{
    width: 510px;
    margin: auto;
}

.nome{
    text-align: left;
    
}

.selecione{
    font-size: 15px;
    border-radius: 5px;
}

.mensagem{
    border-radius: 5px;
}

.botao{
    text-align: center;
    border-radius: 5px;
    font-size: 18px;
    
}


